@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");

// Defining standard variables and values for project

//primary
$softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$Darkblue: hsl(198, 62%, 26%); //photography text
$Darkmoderatecyan: hsl(168, 34%, 41%); // footer

//Neutral
$verydarksaturatedblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//font size
$fontsize: 18px;

//font
$fontweight6: 600;
$fontweight7: 700;
$fontweight9: 900;

// font type
$Barlow: "Barlow", sans-serif;
$Fraunces: "Fraunces", serif;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}
// main style

//first section pertaining to nav
section.first-section {
  min-height: calc(101vh - 12.8px);
  width: 100%;
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
}

//header
header {
  height: 10vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
//navbar
nav {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
//styling for navigation links
.navigation-icon {
  display: none;
}

// styling for nav-links
.nav-links {
  display: flex;
}

// styling for li nav-links tag
.nav-links > li {
  list-style: none;
  margin: 0px 10px;
}

// styling for a tags
.nav-links > li > a {
  text-decoration: none;
  color: $White;
  padding: 10px 20px;
  font-size: $fontsize;
} // closing styles for a tag

.nav-links > li > a:hover {
  background-color: $White;
  color: $Darkgrayishblue;
  border-radius: 16px;
}

// navbar closing style
// header closing styles
// section.first section closing styles
// closing main style

.title-container {
  width: 100%;
  margin: 70px 0px 0px;
  letter-spacing: 0.9rem;
  text-transform: uppercase;
  font-family: $Fraunces;
  height: 10vh;

  .title {
    color: $White;
    text-align: center;
    font-size: 40px;
  }
}

.second-section {
  display: flex;
  height: calc(60vh - 12.8px);

  .caption {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .caption-details {
    width: 50%;
    height: 60%;

    .title {
      color: #000;
      font-family: $Fraunces;
      font-weight: $fontweight9;
    }

    .description {
      margin: 30px 0px 30px 0px;
      font-family: $Barlow;
    }

    .title1 {
      color: #000;
      font-family: $Fraunces;
      font-weight: $fontweight9;
      text-decoration: underline;
      text-decoration-color: $Yellow;
    }
  }

  .background-image {
    flex: 1;
    background: url(./images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.third-section {
  display: flex;
  height: calc(60vh - 12.8px);

  .background-image {
    flex: 1;
    background: url(./images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
      width: 50%;
      height: 60%;

      .title {
        color: #000;
        font-family: $Fraunces;
        font-weight: $fontweight9;
      }

      .description {
        margin: 30px 0px 30px 0px;
        font-family: $Barlow;
      }

      .title1 {
        color: #000;
        font-family: $Fraunces;
        font-weight: $fontweight9;
        text-decoration: underline;
        text-decoration-color: $softred;
      }
    }
  }
}

.fourth-section {
  display: flex;
  height: calc(70vh - 12.8px);

  .background-image {
    flex: 1;
    background: url(./images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .content {
      width: 50%;
      height: 32%;

      .title {
        color: #000;
        text-align: center;
        font-family: $Fraunces;
        margin: 10px 0px;
        font-weight: $fontweight9;
      }

      .title1 {
        font-family: $Barlow;
        text-align: center;
        font-weight: $fontweight9;
      }
    }
  }

  .background-image1 {
    flex: 1;
    background: url(./images/desktop/image-photography.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .content {
      width: 50%;
      height: 32%;

      .title {
        color: #000;
        text-align: center;
        font-family: $Fraunces;
        margin: 14px 0px;
      }

      .title1 {
        font-family: $Barlow;
        text-align: center;
        font-weight: $fontweight9;
      }
    }
  }
}

.fifth-section {
  min-height: calc(90vh - 12.8px);
  display: flex;
  justify-content: center;
  align-items: center;

  .testimonial-container {
    width: 100%;
    min-height: calc(70vh - 12.8px);

    .title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.9rem;
      font-family: $Fraunces;
      color: $grayishblue;
    }

    .testimonials {
      margin: 40px auto 0px auto;
      width: 80%;
      display: flex;
      min-height: calc(60vh - 12.8px);

      .container {
        flex: 1;

        .image-container {
          display: flex;
          justify-content: center;
          margin: 50px 0px;

          img {
            border-radius: 50%;
          }
        }

        .description {
          color: #000;
          text-align: center;
          font-size: $fontsize;
          font-family: $Barlow;
          margin-bottom: 40px;
        }

        .title-name {
          text-align: center;
          font-size: $fontsize;
          font-family: $Fraunces;
        }

        .title1 {
          font-size: $Barlow;
          text-align: center;
          margin: 10px 0px;
          color: $grayishblue;
        }
      }
      .container1 {
        flex: 1;
        .image-container {
          display: flex;
          justify-content: center;
          margin: 50px 0px;

          img {
            border-radius: 50%;
          }
        }

        .description {
          color: #000;
          text-align: center;
          font-size: $fontsize;
          font-family: $Barlow;
          margin-bottom: 40px;
        }

        .title-name {
          text-align: center;
          font-size: $fontsize;
          font-family: $Fraunces;
        }

        .title1 {
          font-size: $Barlow;
          text-align: center;
          margin: 10px 0px;
          color: $grayishblue;
        }
      }
      .container2 {
        flex: 1;
        .image-container {
          display: flex;
          justify-content: center;
          margin: 50px 0px;

          img {
            border-radius: 50%;
          }
        }

        .description {
          color: #000;
          text-align: center;
          font-size: $fontsize;
          font-family: $Barlow;
          margin-bottom: 40px;
        }

        .title-name {
          text-align: center;
          font-size: $fontsize;
          font-family: $Fraunces;
        }

        .title1 {
          font-size: $Barlow;
          text-align: center;
          margin: 10px 0px;
          color: $grayishblue;
        }
      }
    }
  }
}

.sixth-section {
  display: flex;
  height: calc(55vh - 12.8px);
  flex-wrap: wrap;

  .background-image {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-size: cover;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
  }
  .background-image1 {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-size: cover;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
  }
  .background-image2 {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-size: cover;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
  }
  .background-image3 {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .navbar-logo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .navigation-icon {
      display: block;
      cursor: pointer;
    }
  }

  #navigation {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin: 53px 0px 0px 0px;
    display: block;
  }

  #navigation.nav-links-container {
    display: none;
  }

  .nav-links {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    width: 90%;
    position: relative;
    background-color: $White;
  }

  .nav-links > li {
    margin: 20px 20px;
  }

  .nav-links > li > a:hover {
    background-color: none;
    border-radius: 0px;
  }

  .nav-links > li > a {
    color: $Darkgrayishblue;
  }

  .nav-links > li > a:hover {
    background-color: yellow;
    border-radius: 16px;
  }

  .nav-links::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0px;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent $White $White transparent;
  }

  .second-section {
    flex-direction: column;
    height: calc(100vh - 12.8px);

    .background-image {
      background-image: url(./images/mobile/image-transform.jpg);
      background-size: cover;
      background-position: center;
    }

    .caption-details {
      text-align: center;
      width: 80%;
    }
  }
  .third-section {
    flex-direction: column;
    min-height: calc(100vh - 12.8px);

    .background-image {
      display: none;
    }

    .background-image1 {
      background-image: url(./images/mobile/image-stand-out.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1;
    }

    .content-container {
      .content {
        text-align: center;
        width: 80%;
      }
    }
  }

  .fourth-section {
    flex-direction: column;
    height: calc(150vh - 12.8px);

    .background-image {
      background: url(./images/desktop/image-graphic-design.jpg);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }

    .background-image1 {
      background: url(./images/desktop/image-photography.jpg);
      background-size: cover;
      background-position: top;
      background-repeat: no-repeat;
    }
  }

  .fifth-section {
    .testimonials {
      flex-direction: column;
    }

    .testimonial-container {
      margin-top: 50px;
    }
  }

  .sixth-section {
    height: calc(80vh - 12.8px);
    .background-image {
      flex: 2;
    }
  }
}
