@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 100%;
}

section.first-section {
  min-height: calc(101vh - 12.8px);
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
}

header {
  height: 10vh;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-icon {
  display: none;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-links > li {
  list-style: none;
  margin: 0px 10px;
}

.nav-links > li > a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
}

.nav-links > li > a:hover {
  background-color: white;
  color: #818498;
  border-radius: 16px;
}

@media screen and (max-width: 768px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar-logo {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-logo .navigation-icon {
    display: block;
    cursor: pointer;
  }
  #navigation {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin: 53px 0px 0px 0px;
    display: none;
  }
  #navigation.nav-links-container {
    display: block;
  }
  .nav-links {
    margin: 0 auto;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    position: relative;
    background-color: white;
  }
  .nav-links > li {
    margin: 20px 20px;
  }
  .nav-links > li > a:hover {
    background-color: none;
    border-radius: 0px;
  }
  .nav-links > li > a {
    color: #818498;
  }
  .nav-links > li > a:hover {
    background-color: yellow;
    border-radius: 16px;
  }
  .nav-links::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0px;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent white white transparent;
  }
}
/*# sourceMappingURL=styles.css.map */