@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap");

// Defining standard variables and values for project

//primary
$softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$Darkblue: hsl(198, 62%, 26%); //photography text
$Darkmoderatecyan: hsl(168, 34%, 41%); // footer

//Neutral
$verydarksaturatedblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//font size
$fontsize: 18px;

//font
$fontweight1: 600;
$fontweight2: 700;
$fontweight3: 900;

// font type
$Barlow: "Barlow", sans-serif;
$Fraunces: "Fraunces", serif;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

section .first-section {
  min-height: calc(40vh - 12.8px);
}
