@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@100&display=swap");

// Defining standard variables and values for project

//primary
$softred: hsl(7, 99%, 70%);
$Yellow: hsl(51, 100%, 49%);
$Darkdesaturatedcyan: hsl(167, 40%, 24%); //graphic design text
$Darkblue: hsl(198, 62%, 26%); //photography text
$Darkmoderatecyan: hsl(168, 34%, 41%); // footer

//Neutral
$verydarksaturatedblue: hsl(212, 27%, 19%);
$verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);

//font size
$fontsize: 18px;

//font
$fontweight1: 600;
$fontweight2: 700;
$fontweight3: 900;

// font type
$Barlow: "Barlow", sans-serif;
$Fraunces: "Fraunces", serif;

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}
// main style

//first section pertaining to nav
section.first-section {
  min-height: calc(101vh - 12.8px);
  background-image: url(./images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center 100%;
  background-repeat: no-repeat;
}

//header
header {
  height: 10vh;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
//navbar
nav {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}
//styling for navigation links
.navigation-icon {
  display: none;
}

// styling for nav-links
.nav-links {
  display: flex;
}

// styling for li nav-links tag
.nav-links > li {
  list-style: none;
  margin: 0px 10px;
}

// styling for a tags
.nav-links > li > a {
  text-decoration: none;
  color: $White;
  padding: 10px 20px;
  font-size: $fontsize;
} // closing styles for a tag

.nav-links > li > a:hover {
  background-color: $White;
  color: $Darkgrayishblue;
  border-radius: 16px;
}

// navbar closing style
// header closing styles
// section.first section closing styles
// closing main style

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  .navbar-logo {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .navigation-icon {
      display: block;
      cursor: pointer;
    }
  }

  #navigation {
    height: 200px;
    width: 100%;
    margin: 0 auto;
    margin: 53px 0px 0px 0px;
    display: none;
  }

  #navigation.nav-links-container {
    display: block;
  }

  .nav-links {
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    width: 90%;
    position: relative;
    background-color: $White;
  }

  .nav-links > li {
    margin: 20px 20px;
  }

  .nav-links > li > a:hover {
    background-color: none;
    border-radius: 0px;
  }

  .nav-links > li > a {
    color: $Darkgrayishblue;
  }

  .nav-links > li > a:hover {
    background-color: yellow;
    border-radius: 16px;
  }

  .nav-links::after {
    content: "";
    position: absolute;
    top: -40px;
    right: 0px;
    margin-left: -5px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent $White $White transparent;
  }
}
